.submissions-container {
  display: flex;
  padding: 5px;
  max-width: 2000px;
  margin-left: 10px;
  margin-right: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px #0000001a;
  
}

.content {
  flex-grow: 1;
  margin-left: 350px;
}

.content h2 {
  font-size: 24px;  
  color: white;
  margin-bottom: 20px;
  margin-left: 650px;
}

.submission-list {
  display: flex;
  flex-direction: column;
}

.submission-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submission-item.white {
  background-color: #ffffff;
}

.submission-item.gray {
  background-color: #a19f9f;
}

.folder-icon {
  font-size: 24px;
  margin-right: 15px;
  color: #333;
}

.submission-text {
  font-size: 20px;
  color: #333;
}

.load-more-button,
.load-less-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
