.assignment-table-content {
  flex-grow: 1;
  padding: 20px;
  border-radius: 20px;
  height:100%;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 400px;
  border: 5px solid transparent; /* Transparent border to maintain inner border radius */
  border-radius: 20px; /* Inner border radius */
  padding: 20px;

}

.table-section {
  overflow-x: auto; /* Ensures the table is scrollable if it overflows the container */
}

.assignment-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.assignment-table th, 
.assignment-table td {
  padding: 15px;
  text-align: left;
  background: none; /* Remove background color */
}



.assignment-table .file-icon {
  margin-right: 10px; /* Space between icon and text */
}

