/* Assignments.css */

.assignments-container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--secondary-color);
    padding: 20px;
    /* position:absolute;
    top:90px;
    left: 20px; */
    border-radius: 0px 0px 60px 60px;
    z-index: 1;
    float:left;
    margin-left:20px;
    height: 500px;
    width: 400px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    padding: 10px 0;
    color: var(--secondary-color);
    cursor: pointer;
  }
  
  nav ul li.selected {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .content {
    flex-grow: 1;
    background: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    color: var(--third-color);
    height:100%;
    margin-left: 500px;
  }
  
  .back-button {
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .feedback-section {
    background: var(--secondary-color);
    color: var(--third-color);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    float:right;
    margin-left:300px;
  }
  
  .feedback-content {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .delete-button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 20px; 
    margin-left: 400px;
    border-radius: 5px;
    cursor: pointer;
}