/* Assignments.css */

.assignments-container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--secondary-color);
    padding: 20px;
    /* position:absolute;
    top:90px;
    left: 20px; */
    border-radius: 0px 0px 60px 60px;
    z-index: 1;
    float:left;
    margin-left:20px;
    height: 500px;
    width: 400px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    padding: 10px 0;
    color: var(--secondary-color);
    cursor: pointer;
  }
  
  nav ul li.selected {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .content {
    flex-grow: 1;
    background: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    color: var(--third-color);
    height:100%;
    margin-left: 500px;
  }
  
  .back-button {
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .feedback-section {
    background: var(--secondary-color);
    color: var(--third-color);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    float:right;
    margin-left:300px;
  }
  
  .feedback-content {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .course-delete-button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 20px; 
    margin-left: 400px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

  .course-edit-button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 20px; 
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}


.modal {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 60px;
  width: 90%; /* Adjust width to fit within the screen better */
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin-left and margin-right to auto to center the modal horizontally */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form group styling */

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.course-form-input {
  width: 100%;
  padding: 10px; /* Adjust padding to be consistent */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  align-self: flex-end;
}

.course-save-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 240px;
}

.course-cancel-button {
  margin-left: 10px;
  background-color: #ccc;
  color: #333;
  width: 240px;
}

.form-actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.edit-course-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}