
.due-date {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.conn {
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.back-button1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
}

.objective1 {
    margin-bottom: 20px;
}

.objective1 h3, .requirements1 h3 {
    margin-bottom: 10px;
}

.requirements1 ul, .requirements1 ol {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}

.requirements1 li ul {
    list-style-type: circle;
}

.requirements1 li {
    list-style-type: circle;
    margin-bottom: 5px;
}

.requirements1 hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.editable {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
