:root {
    --primary-color: #4d24d4;
    --secondary-color: white;
    --third-color: black;
    --gradient-color: linear-gradient(to right, #000000, #2600a3);
}

.background-color{background: var(--gradient-color);}
.primary-color-text{color: var(--primary-color);}   /* Purple text */
.secondary-color-text{color:var(--secondary-color);} /* White text */
.third-color-text{color:var(--third-color);} /* Black text */
.rborder{border-radius: 60px;}
a {text-decoration: none;}

html{
    background: var(--gradient-color);
    min-width: 1300px;
    min-height: 800px;
    
}
body {
    font-family: Arial, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

/* White text on purple background */
.primary-colorbg{
 background: var(--primary-color);
 color: var(--secondary-color);
}

/* Purple text on white background */
.secondary-colorbg{
    background: var(--secondary-color);
    color:var(--primary-color);
}

/* Black text on purple background */
.third-colorbg{
    background:var(--primary-color);
    color: var(--third-color);
}

/* Black text on white background */
.fourth-colorbg{
    background: var(--secondary-color);
    color: var(--third-color);
}

/* White background with purple text and border */
.primary-button {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    font-weight: bold;
}

/* Purple background with white text and border */
.secondary-button {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    font-weight: bold;
}

.primary-button:hover {
    transform: scale(1.1);
}

.secondary-button:hover {
    transform: scale(1.1);
}

.rborder{
    border-radius: 60px;

}

.nav-item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  
.nav-item.active {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    background-color: var(--gradient-color);
  }

.hide{
    display:none;
    visibility: hidden;
}


  .main-margin{
    margin-left: 260px;
    margin-right:40px;
    margin-top:-40px;
    background-color: var(--secondary-color);
    padding-top: 20px;
    height:100%;
    /* border: red 2px solid; */
  }

  .main-back-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.main-back-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.back-button-icon-size {
    width: 24px;
    height: 24px;
}

.top-bar{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    margin-top:-20px;
    padding: 20px;
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.scrollable-div {
    /* border: red 2px solid; */
    overflow-y: auto;
    max-height: 600px;
    /* margin-bottom:400px;  */
    padding: 10px;
    background: var(--secondary-color);
    border-radius: 10px;
}