/* Main container */
.grading-container {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  flex-grow: 1;
  margin-left: 20px;
}

/* Header styling */
.assignment-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.assignment-header h2 {
  flex-grow: 1;
  margin: 0;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.back-button, .confirm-button, .mark-complete {
  background-color: #6200ea;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  margin-right: 20px;
}

.confirm-button {
  margin-left: 20px;
}

.aiscore {
  flex-grow: 1;
  margin: 0;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

/* Student info box styling */
.student-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-info h3 {
  margin: 0 0 10px;
}

.due-date-container {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.due-date {
  margin: 0;
  color: #ff0000;
  margin-right: 10px;
}

.edit-button, .save-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.feedback, .evaluator-comments, .student-submission {
  margin-bottom: 20px;
}

.feedback h4, .evaluator-comments h4, .student-submission h4 {
  margin: 0 0 10px;
}

.evaluator-comments textarea {
  width: 1060px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.student-submission a {
  display: block;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  text-decoration: none;
  color: #6200ea;
}

.mark-complete {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
}


.final-score input {
  width: 100px;
  padding: 5px;
  border: 0.5px solid #ff0000;
  border-radius: 5px;
  text-align: center;
}

.final-score label {
  flex-grow: 2;
  margin: 0;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

/* Additional styling for sidebar and navigation */

