:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

button, a, link {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
}

textarea{
  cursor: text;
}

input[type="text"] {
  cursor: text;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p, th, td {
  cursor:default;
}