.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: white;
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    padding: 10px 20px;
    width: 50%;
  }
  
  .search-box input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    width: 100%;
  }
  
  .search-box input::placeholder {
    color: #888;
    font-size: 18px;
  }
  
  .search-box .search-icon {
    color: #888;
    margin-right: 10px;
  }

  .center-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
  