
.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 20px;
    height: 90px;
    z-index: 9;
    min-width: 800px;
  }
  
  .header .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 44px;
  }
  
  .dashboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: left;
    justify-content: left;
    padding-left: 80px;
    margin-top: 100px;
  }
  
  .add-course-card{
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 60px;
    width: 300px;
    height: 440px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    border: 4px dashed var(--third-color);
    opacity: 0.7;
  }


  .add-course-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding:0px;
    border-radius: 60px 60px 0px 0px;
  }

  .course-card {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 60px;
    width: 300px;
    height: 440px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
  }

  .course-card div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

  .course-card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 12px 10px rgba(245, 241, 241, 0.136);
    text-decoration: underline;
  }
  .course-card h2 {
    margin-top: 0px;
    margin-bottom:-20px;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 0px;
  }

  .course-card p {
    padding-left: 12px;
    font-size: 18px;
  }
  
  .course-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding:0px;
    border-radius: 60px 60px 0px 0px;
  }
  
  .menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  
  .menu button {
    background: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 11;
    position: relative;
    right: -5px;
    top: -5px;
  }
  

  .menu button.active {
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .menu .dropdown {
    display: none;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 400px;
    z-index: 1;
  }
  
  .menu .dropdown a {
    display: block;
    padding: 10px 50px 20px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  }

  .menu .dropdown a::before {
    content: '•'; 
    margin-right: 10px;
    font-size: 40px;
    text-decoration: none;
  }

  .menu .dropdown a:hover {
    background: #eee;
  }
  
  .menu .dropdown.show {
    display: block;
  }
  
  .side-menu {
    padding: 20px;
    position:absolute;
    top:20px;
    left: 35px;
    padding-top: 150px;
    padding-left: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    height:70%;
    padding: 10px 50px 20px;
    font-size: 30px;
    padding-top: 150px;
  }

  .side-menu a{
    padding-top: 50px;
    color: var(--third-color);
    font-size: bold;
  }

  /* .message-container {
    padding: 20px;
    border-radius: 60px;
    position:absolute;
    top:20px;
    left: 35px;
    width:40%;
    padding-top: 115px;
    padding-left: 30px;
    min-width: 600px;
    height: 90px;
    font-size: 12px;
  } */

  @keyframes growDown {
    0% {
      height: 0;
      opacity: 0;
    }
    80% {
      height: 95px;
      opacity: 1;
    }
    100% {
      height: 90px;
      opacity: 1;
    }
  }
  
  .message-container {
    padding: 20px;
    border-radius: 60px;
    position: absolute;
    top: 20px;
    left: 35px;
    width: 40%;
    padding-top: 115px;
    padding-left: 30px;
    min-width: 600px;
    font-size: 12px;
    overflow: hidden;
    animation: growDown 1s ease-out 1s forwards;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  .notification-container {
    display: flex;
    margin-top: 1px;
    float: right;
    font-weight: bold;
  }

  .notificationBubble{
    color: rgb(255, 183, 0);
  }