<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Document</title>
</head>
<body>
    <h1>Create Course</h1>

    <ul>
        <% if (typeof errors != 'undefined') { %> 
            <% errors.forEach(error => { %>
                <li><%= error.message %></li>
            <% }) %> 
        <% } %>
    </ul>

    <form action="/courses" method="POST">
        <div>
            <input type="text" id="courseName" name="courseName" placeholder="Course Name" required>
        </div>
        <div>
            <input type="text" id="courseCode" name="courseCode" placeholder="Course Number" required>
        </div>
        <div>
            <input type="number" id="maxStudents" name="maxStudents" placeholder="Max Students" required>
        </div>
        <div>
            <input type="text" id="instructor" name="instructor" placeholder="Instructor" required>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
</body>
</html>